server:
  port: 10009
  servlet:
    encoding:
      charset: UTF-8
      force: true
      enabled: true

spring:
  application:
    name: spring-ai-alibaba-audio-example-application

  ai:
    dashscope:
        api-key: ${AI_DASHSCOPE_API_KEY}
